*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(healthylifestyle.jpg);
}
.head{
    background-color: rgb(190, 196, 196);
    width: 100%;
    height: 2cm;
    padding-top: 0px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 22px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.navbar h1{
    font-size: 50px;
    color: #2f726c;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    position: relative;
}
.navbar ul li a{
    text-transform: uppercase;
    color: rgb(107, 107, 107);
    text-decoration: none;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
ul li.active a{
    color: #009688;
    transition: all 0.4s ease 0s;
}
.content{
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right:50px;
}
.content p{
    text-align: center;
    color: azure;
    font-size: 50px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content h1{
    text-align: center;
    color: azure;
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content button{
    width: 160px;
    padding: 15px 0;
    text-align: center;
    margin: 50px 100px 110px 90px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
.info{
    margin: 0;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    background-color: rgb(220, 219, 219);
}
.info h3{
    font-size: 30px;
    border-bottom: solid #009688;
}
.info .yoga{
    padding-bottom: 70px;
    border: solid #009688;
    padding: 20px 20px;
}
.info .diet{
    padding-bottom: 70px;
    border: solid #009688;
    padding: 20px 20px;
    margin-top: 50px;
}
.info .medi{
    padding-bottom: 70px;
    border: solid #009688;
    padding: 20px 20px;
    margin-top: 50px;
}
.foot{
    height:100px ;
    background-color: rgb(46, 45, 45);
    padding-left: 200px ;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px
}
.foot img{
    width: 15px;
    height: 15px;
}
.foot h4{
    color: white;
    padding-bottom: 20px;
}
.foot p{
    color: white;
}
.contact{
    float: left;
    padding-left: 150px;
}